:root {
  font-family: Nib, serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.home-page {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/plant-guide-1663941701.jpg");

  background-size: cover;
  background-position: center center; /* Adjusted background position */
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.shopButton {
  background-color: #f6cfb2;
  color: #2c4a4c;
}
.product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5rem;
  text-align: center;
  color: #224229;
}

.product-card {
  width: 30%; /* Adjust the width to fit three cards in a row */

  padding: 1rem;
}

.product-card h2 {
  margin-top: 0;
}

.product-card img {
  width: 100%;
  height: 70%;
}
.plant-details-container {
  text-align: center;
}
.cart-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5rem;
  text-align: center;
  color: #224229;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
nav {
  display: flex;
  justify-content: space-between; /* Align navigation items horizontally */
  align-items: center; /* Center navigation items vertically */
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #f6cfb2;
  font-weight: bold;

  /* Add a background color for better readability */
  /*padding: 1rem; /* Add some padding around the navigation items */
}

nav a {
  margin-right: 1rem; /* Add some spacing between navigation items */
  text-decoration: none;
  color: #2c4a4c;
}
